workerPoolSpecs:
    machineSpec:
        machineType: n1-standard-8
        acceleratorType: NVIDIA_TESLA_T4
        acceleratorCount: 1
    replicaCount: 1
    containerSpec:
        imageUri: europe-north2-docker.pkg.dev/mlops-group-100-484410/models/train:latest
        env:
        - name: WANDB_API_KEY
          value: $WANDB_API_KEY