name: Data Changes Workflow

on:
  pull_request:
    branches:
      - main
      - levi
    paths:
      - '**.dvc'
      - '.dvc/config'
    

jobs:
  data-validation:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        run: |
          python -m pip install -U pip
          pip install uv

      - name: Install dependencies
        run: |
          uv sync --dev

      - name: Auth with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_CREDENTIALS }}

      - name: Pull data
        run: |
          uv run dvc pull --no-run-cache

      - name: Check data statistics
        run: |
          uv run src/toxic_comments/datamodule.py > report.md
          echo '![](./reports/figures/class_balance.png)' >> report.md
          echo '![](./reports/figures/class_distribution.png)' >> report.md
          echo '![](./reports/figures/text_length_distribution.png)' >> report.md
          echo '![](./reports/figures/text_length_by_class.png)' >> report.md
  
      - name: Setup cml
        uses: iterative/setup-cml@v2

      - name: Comment on PR
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create report.md --watermark-title="Data Checker" # (1)!
          
