name: Code linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        run: |
          python -m pip install -U pip
          pip install uv

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev
          uv pip list

      - name: ruff format
        run: |
          uv run ruff format .

      - name: ruff check
        run: |
          uv run ruff check --fix .